
.signal-item {
    border: 1px solid black;
    border-radius: 30px;
    cursor: default;
    pointer-events: auto;
}

.signal-item td {
    height: 100px;
}

.signal-item tr {
    border-radius: 10px;
}

.signal-item:hover {
    background-color: rgba(80, 76, 76, 0.5);
}

.bg-lGrey {
    background-color: lightgray;
}

.item-content-title {
    font-weight: bold;
}

.title-position-long {
    background: #a2e63c;
    background: linear-gradient(90deg, rgba(162, 230, 60, 1) 0%, rgba(222, 230, 154, 1) 45%, rgba(255, 255, 255, 1) 100%);
}

.item-title {
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    padding-left: 20px;
    border-radius: 10px;
    height: 2.5rem;
    font-weight: bold;
}

.title-position-short {
    background: #c20000;
    background: linear-gradient(90deg, rgba(194, 0, 0, 1) 0%, rgba(184, 134, 134, 1) 51%, rgba(255, 255, 255, 1) 100%);
}







